version: '3.8'

services:
  # 1. API Service
  api:
    build:
      context: ../            # <--- FIX: Go UP to Root to find requirements.txt & src
      dockerfile: infra/Dockerfile  # <--- FIX: Tell Docker the file is inside 'infra/'
    container_name: amrutam_api
    restart: on-failure
    ports:
      - "8000:8000"
    env_file:
      - ../.env               # <--- FIX: Load secrets from the Root .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    # [OPTIONAL] Syncs your code changes instantly without rebuilding
    volumes:
      - ../src:/app/src
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

  # 2. Database (Postgres)
  db:
    image: postgres:15-alpine
    container_name: amrutam_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: amrutam
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 3. Redis
  redis:
    image: redis:7-alpine
    container_name: amrutam_redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data: